h3{
	display: block;
	font-size: 1.1em;
}

form[action="configuratore_venditore.php"] input[type="image"]{
	height: 16vh;
}

form[action="configuratore_venditore.php"] label{
	display: block;
}