img{
    width: 100%;
}

#containerVideo{
    width: 100%;
}

#caroselloImmaginiAste{
    width: 100%;
    background-color: rgb(201, 201, 201, 0.3);
}

.noOpacity{
    opacity:0.7!important;
}

.iconCarousel{
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    color: black!important;
    font-size: 27px;
}

.barreCarosello{
    background-color: black!important;
}

.caroselloAstaImmagine{
    height: 50vh;
    object-fit: contain;
}

.formFiltra {
    width: 100%;
}

#videoPlayer{
    max-width:100%;
}

#chart {
    width: 100%;
    height: auto;
}

.resizeContainer{
    width: 100%;
}

@media screen and (min-width: 992px) {

    #caroselloImmaginiAste{
        width:60%;
    }

    #containerNotifiche{
        max-width:60%!important;
    }
}

@media screen and (min-width: 1200px) {

    #elencoCaseAsta{
        width:50%;
    }

}

@media screen and (min-width: 768px) {

    .resizeContainer{
        width: 70%;
    }
    

    #videoPlayer{
        max-width:60%;
    }

    #descrizioneAuto{
        width: 50%;
        border: 2px solid black;
        padding: 2%;
        border-radius: 10px;
    }

    #caroselloAsta{
        width: 60vh;
    }

    .formFiltra {
        width: 50%;
    }

    #caroselloImmaginiAste{
        max-width: 60%;
    }

    #chart {
        height: 60vh;
    }

    #inserimentoAste, #containerGestoreAste, #containerOrdini, #containerCarrello{
        width:50%;
    }
}