.valid {
	color: green;
}

.valid:before {
	position: relative;
	left: -10px;
	content: '✔';
}

.invalid {
	color: red;
}

.invalid:before {
	position: relative;
	left: -10px;
	content: '✖';
}

.macchinaCarouselHome{
	height: 28vh;
	object-fit: contain;
}

.removeOpacity{
	opacity: 0.7;
}

.iconCarousel{
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    color: black!important;
    font-size: 27px;
}

#carouselGeneralCar > .carousel-indicators > li{
	height: 5px;
	background-color: black;
}

#carouselGeneralCar > .carousel-indicators{
	bottom: -26px;
}

form[action="venditore.php"] input[type="image"]{
	height: 16vh;
}

form[action="venditore.php"] label{
	display: block;
}

h3{
	font-size: 1.1em;
}

@media screen and (min-width: 1200px) {
    #main_content{
    	margin-top: 2%; 
    }
}