a{
    color: black;
}

.lower-nav{
    z-index: 2000;
}

nav p{
    margin-bottom: 10px;
}
nav ul a{
    margin-top: 10px;
}

nav > div {
    position: fixed!important;
    top:0;
    width: 100%;
    height: 7%;
    z-index: 2000;
}

nav > ul{
    position: fixed!important;
    bottom: 0;
    width: 100%;
    /*height: 9vh;*/
}

nav > ul > li > a{
    font-size: 27px;
}

nav > ul > li > a{
    padding: 0;
}

main{
    /*position: fixed!important;*/
    overflow:auto;
    height: 84%;
    margin-top: 7%;
    margin-bottom: 20%;
}

.border-5 {
    border-width:5px !important;
}

.border-3 {
    border-width:3px !important;
}

.horizontal_list{
    overflow: auto;
    white-space: nowrap;
}
.horizontal_list_item{
    display: inline-block !important;
}
.horizontal_list_text{
    white-space: normal;
}

@media screen and (max-width: 749px) {
    
    #barraDesktop{
        display: none;
    }
    #iconBar{
        display: none;
    }
  }


@media screen and (min-width: 768px) {
    
    main{
        margin-bottom: 2%!important;
        margin-top: 0;
    }

    #barraDesktop{
        display: flex;
        width: 100%;
    }

    #iconBar{
        display: block;
        position: fixed;
        right:0;
        bottom: 10%;
        z-index: 2000;
    }

    #iconBar a {
        z-index: 2000;
        background-color: rgb(240, 240, 240);
        width: 60px;
        height: 60px;
        text-align: center;
        padding: 15px;
        display: block;
        color: black;
        margin-bottom: 2px;
        font-size: 20px;     
        text-decoration: none;   
    }

    #iconBar a i{
        padding: 0;
        margin: 0;
    }

    #barraSmartphone{
        display: none;
    }

    #barraInferiore{
        display: none;
    }

  }