#header {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: inline-block;
}

#header div {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

#header img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

#header a {
  position: absolute;
  top: 80%;
  left: 45%;
  right: 45%;
  width: 10%;
  border: 2px solid black !important;
  border-radius: 0.5em !important;
  background-color: white;
  font-size: 24px;
  color: black;
  padding: 2px;
  line-height: 2em;
}

#tab > ul > li {
  width: 50%;
}

#top {
  display: none;
  position: fixed;
  bottom: 100px;
  left: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 1px;
  border-radius: 10px;
  font-size: 36px;
  line-height: 0;
}

#nav-modello {
  text-align: left;
  margin-top: 20px;
}

#nav-modello > div > div {
  margin-top: 20px;
}

#nav-modello a {
  margin: 3%;
  display: inline-block;
  padding: 3%;
}

#nav-modello form button {
  background-color: transparent;
  border: 0px;
}

#nav-modello img {
  display: inline-block;
  width: 50%;
}

#nav-modello h3 {
  font-size: 1em;
  display: inline;
}

em {
  vertical-align: bottom;
}

label {
  font-size: 1.75rem;
}

.red {
  color: red;
}

#googleMap {
  width: 100%;
  height: 50vh;
  margin: 2% 0%;
}

main div:not(:first-of-type),
#tab {
  margin-top: 10%;
}

main > div:last-child {
  text-align: center;
}

main > div:last-child > a {
  color: black;
}

#nav-recensione > div > div > div > p > span + span {
  display: none;
}
#nav-recensione > div > div > div > form {
  text-align: center;
}

#demo > a {
  background-color: darkgray;
  width: 5%;
}
#demo > div {
  padding: 0% 7%;
}

@media screen and (min-width: 768px) {
  #header,
  #header img {
    height: 87vh;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #googleMap {
    width: 70%;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
  }

  #header a {
    left: 46%;
    width: 6%;
    height: 8%;
  }

  #nav-modello img {
    display: inline-block;
    max-width: 50%;
  }
  #nav-modello div {
    display: inline-block;
    width: 48%;
    margin-top: 10px;
  }
  #nav-recensione > div,
  #tab > ul {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
